Source: lua-nginx-string
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@debian.org>
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 11),
               dh-lua,
Standards-Version: 4.1.4
Vcs-Browser: https://salsa.debian.org/debian/lua-nginx-string
Vcs-Git: https://salsa.debian.org/debian/lua-nginx-string.git
Homepage: https://github.com/openresty/lua-resty-string

Package: lua-nginx-string
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: String utilities for the nginx embedded Lua language
 lua-nginx-string provides the string utilities and common hash functions for
 the nginx embedded Lua language.
